body {
  background-color: black; 
  color: black;
  font-family:'Courier New';
}

/* Grow (from hover.css)*/
.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
  transform: scale(1.1);
}

.head {
  color:#1bff80;
  font-size:37px;
  text-align: center;
}

.blurb {
  color:#1bff80;
  font-size:19px;
  text-align: center;
  max-width: 800px; 
  margin: 0 auto; 
  background: #141414; 
  border-radius: 12px; 
  box-shadow: 0 2px 12px rgba(0,0,0,0.15); 
  padding: 20px; 
  border-top: 6px solid SkyBlue; /* Maroon accent bar */ 
}


.box {
  border-radius: 15px; 
  border: 2px solid SkyBlue; 
  margin: 30px auto; 
  padding: 0px 30px 0px 30px;
  width: 70%;
  display: flex; 
  flex-direction: column;
  justify-content: center; 
  align-items: center;
}

.Discord_widget {
  border-radius: 12px; 
  border: 2px solid SkyBlue;
}