.topnav {
    display: flex;
    background-color: #333;
    background-image: linear-gradient(to bottom, rgb(216, 115, 194), rgb(0, 0, 0));
    
  }
  
  .topnav a {
    color: #1bff80;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 30px;
  }
  
  .topnav a:hover {
    background-color: #ddd;
    color: black;
  }
  
  .topnav a.active {
    background-color: #c0ffff;
    background-image: linear-gradient(to bottom, #b53cc3, rgb(113, 83, 121));
    color: rgb(0, 0, 0);
  }